extends ../partials/base.pug
block container
	.column-24
		.column-8.center-column
			h3 Login User
			form(method='post' action='/login')
				.form-group
					label.col-md-4 Email
						input(type='text' name='email')
				.form-group
					label.col-md-4 Password
						input(type='password' name='password')
				.form-group
					button.btn.btn-primary(type='submit') Login
					a.btn.btn-clear.leader-1(href='/forgot/password') Forgot Password?
